<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>约饭局</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/datepicker.css' />

	<style type="text/css"> 
      body { 
		padding-top: 60px; 
		padding-bottom: 40px; 
      }
    .datepicker td, .datepicker th {
    	width: 60px;
    	height: 30px;
    	font-size: 16px;
	} 
    </style>
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">约饭局</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active">
							<a href="/">首页</a>
						</li>
						<li>
							<a href="/login">登入</a>
						</li>
						<li>
							<a href="/reg">注册</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="container" class="container">
		<form class="form-horizontal" method="post" action="/newEvent">
			<fieldset>
				<div class="row">
					<div class="span10">
				<legend>您活动的链接~</legend>

				<div class="control-group">
					<div class="controls">
						<a type="text" class="span8" id="eventName" href="http://localhost:3000/eventForGuest/<%=id%>">活动链接</a>
					</div>
				</div>
			</fieldset>
		</form>
		<hr />
		<footer>
			<p>
				<a href="http://www.byvoid.com/" target="_blank">约饭局</a>
			</p>
		</footer>
	</div>
</body>
	<script src="/javascripts/jquery-1.10.2.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	<script src="/javascripts/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
		

    </script>

</html>