  <div class="container" align="center">
      <div class="row">
          <div class="col-lg-6 col-offset-3">

              <h1 class="margin-base-vertical"><img src="/images/logo.png"  alt="简单轻松约饭局" /></h1>

              <form id="mainForm " class="margin-base-vertical" method="post" action="/searchRst">
                  <p class="input-group">
                      <input type="text" class="input-xxlarge search-query" name="searchText" placeholder="搜索饭局名，创建人，简介等" />
                       <button type="submit" class="btn" >搜索</button>
                  </p>
                  <p class="help-block text-center"><small>还在为天天统计朋友们的有空时间烦恼吗？创建一个饭局把，让朋友们统一时间</small></p>
                  <p class="text-center">
                      <a class="btn btn-warning" href="/newEvent">创建</a>
                  </p>
                  </span>
              </form>

          </div>
      </div>
  </div>
