<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <title>约饭局1</title> 
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' /> 
    <link rel='stylesheet' href='/stylesheets/datepicker.css' /> 
    <link rel='stylesheet' href='/stylesheets/default.css' /> 
    <link rel='stylesheet' href='/stylesheets/default.date.css' /> 
    <link rel='stylesheet' href='/stylesheets/default.time.css' /> 

    <style type="text/css"> 
      body { 
	padding-top: 60px; 
	padding-bottom: 40px; 
      } 
    </style> 
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet"> 
  </head> 
  <body> 

    <div class="navbar navbar-fixed-top"> 
      <div class="navbar-inner"> 
	<div class="container"> 
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
	    <span class="icon-bar"></span> 
	    <span class="icon-bar"></span> 
	    <span class="icon-bar"></span> 
	  </a> 
	  <a class="brand" href="/">约饭局3</a> 
	  <div class="nav-collapse"> 
	    <ul class="nav"> 
	      <li class="active"><a href="/">首页</a></li> 
	      <li><a href="/login">登入</a></li> 
	      <li><a href="/reg"> 注册</a></li> 
	    </ul> 
	  </div> 
	</div> 
      </div> 
    </div> 

    <div id="container" class="container"> 
      <div class="row">
      <form class="form-horizontal">
	<fieldset>
	  <legend>写下英雄帖，召集你的小伙伴们吧~</legend>
	  
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">活动名称：</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" placeholder="腐败活动~">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">活动时间：</label>
	    <div class="controls">
	    	<!-- start -->
			<div class="picker picker--focused picker--opened" style="z-index:0;position:relative">
			<div class="picker__wrap" style="width:666px;height:400px" >
				<div class="picker__box">
					<div class="picker__header">
						<div class="picker__nav--prev" data-nav="-1"></div>
						<div class="picker__nav--next" data-nav="1"></div>
						<div class="picker__month">December</div>
						<div class="picker__year">2013</div>
					</div>
					<table class="picker__table">
						<thead>
							<tr>
								<th class="picker__weekday">Sun</th>
								<th class="picker__weekday">Mon</th>
								<th class="picker__weekday">Tue</th>
								<th class="picker__weekday">Wed</th>
								<th class="picker__weekday">Thu</th>
								<th class="picker__weekday">Fri</th>
								<th class="picker__weekday">Sat</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1385827200000">1</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1385913600000">2</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386000000000">3</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386086400000">4</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386172800000">5</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386259200000">6</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386345600000">7</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386432000000">8</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386518400000">9</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386604800000">10</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386691200000">11</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386777600000">12</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386864000000">13</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1386950400000">14</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1387036800000">15</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1387123200000">16</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1387209600000">17</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1387296000000">18</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1387382400000">19</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1387468800000">20</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1387555200000">21</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1387641600000">22</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1387728000000">23</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus picker__day--today picker__day--selected picker__day--highlighted" data-pick="1387814400000">24</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1387900800000">25</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1387987200000">26</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1388073600000">27</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1388160000000">28</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1388246400000">29</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1388332800000">30</div>
								</td>
								<td>
									<div class="picker__day picker__day--infocus" data-pick="1388419200000">31</div>
								</td>
								<td>
									<div class="picker__day picker__day--outfocus" data-pick="1388505600000">1</div>
								</td>
								<td>
									<div class="picker__day picker__day--outfocus" data-pick="1388592000000">2</div>
								</td>
								<td>
									<div class="picker__day picker__day--outfocus" data-pick="1388678400000">3</div>
								</td>
								<td>
									<div class="picker__day picker__day--outfocus" data-pick="1388764800000">4</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="picker__day picker__day--outfocus" data-pick="1388851200000">5</div>
								</td>
								<td>
									<div class="picker__day picker__day--outfocus" data-pick="1388937600000">6</div>
								</td>
								<td>
									<div class="picker__day picker__day--outfocus" data-pick="1389024000000">7</div>
								</td>
								<td>
									<div class="picker__day picker__day--outfocus" data-pick="1389110400000">8</div>
								</td>
								<td>
									<div class="picker__day picker__day--outfocus" data-pick="1389196800000">9</div>
								</td>
								<td>
									<div class="picker__day picker__day--outfocus" data-pick="1389283200000">10</div>
								</td>
								<td>
									<div class="picker__day picker__day--outfocus" data-pick="1389369600000">11</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	    	<!-- end -->
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">活动地点：</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" placeholder="去哪儿？？？">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">活动描述：</label>
	    <div class="controls">
	      <textarea rows="5" placeholder="腐败活动都干些啥，和小伙伴们说说呗~"></textarea>
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-primary">通过微博通知小伙伴们</button>
	      <button type="submit" class="btn btn-primary">通过qq通知小伙伴们</button>
	    </div>
	  </div>

	</fieldset>
      </form>
      <hr /> 
      <footer> 
      <p><a href="http://www.byvoid.com/" target="_blank">BYVoid</a> 2012</p> 
      </footer> 
    </div>
    </div> 
  </body> 
  <script src="/javascripts/jquery.js"></script> 
  <script src="/javascripts/bootstrap.js"></script> 
</html> 

