<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <title>约饭局</title> 
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' /> 
    <style type="text/css"> 
      body { 
	padding-top: 60px; 
	padding-bottom: 40px; 
      } 
    </style> 
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet"> 
  </head> 
  <body> 

    <div class="navbar navbar-fixed-top"> 
      <div class="navbar-inner"> 
	<div class="container"> 
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
	    <span class="icon-bar"></span> 
	    <span class="icon-bar"></span> 
	    <span class="icon-bar"></span> 
	  </a> 
	  <a class="brand" href="/">约饭局2</a> 
	  <div class="nav-collapse"> 
	    <ul class="nav"> 
	      <li class="active"><a href="/">首页</a></li> 
	      <li><a href="/login">登入</a></li> 
	      <li><a href="/reg"> 注册</a></li> 
	    </ul> 
	  </div> 
	</div> 
      </div> 
    </div> 

    <div id="container" class="container"> 
      <div class="row">
      <form class="form-horizontal">
	<fieldset>
	  <legend>写下英雄帖，召集你的小伙伴们吧~</legend>
	  
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">活动名称：</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" placeholder="腐败活动~">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">活动时间：</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" placeholder="选几个备选时间，让小伙伴们定呗">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">活动地点：</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" placeholder="去哪儿？？？">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">活动描述：</label>
	    <div class="controls">
	      <textarea rows="5" placeholder="腐败活动都干些啥，和小伙伴们说说呗~"></textarea>
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-primary">通过微博通知小伙伴们</button>
	      <button type="submit" class="btn btn-primary">通过qq通知小伙伴们</button>
	    </div>
	  </div>

	</fieldset>
      </form>
      <hr /> 
      <footer> 
      <p><a href="http://www.byvoid.com/" target="_blank">BYVoid</a> 2012</p> 
      </footer> 
    </div>
    </div> 
  </body> 
  <script src="/javascripts/jquery.js"></script> 
  <script src="/javascripts/bootstrap.js"></script> 
</html> 

