<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>约饭局1</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/datepicker.css' />

	<style type="text/css"> 
      body { 
		padding-top: 60px; 
		padding-bottom: 40px; 
      }
    .datepicker td, .datepicker th {
    	width: 60px;
    	height: 30px;
    	font-size: 16px;
	} 
    </style>
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">约饭局</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active">
							<a href="/">首页</a>
						</li>
						<li>
							<a href="/login">登入</a>
						</li>
						<li>
							<a href="/reg">注册</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="container" class="container">
		<form class="form-horizontal" method="post" action="/newEvent">
			<fieldset>
				<div class="row">
					<div class="span10">
				<legend>写下英雄帖，召集你的小伙伴们吧~</legend>

				<div class="control-group">
					<label class="control-label" for="eventName">活动名称：</label>
					<div class="controls">
						<input type="text" id="eventName" name="eventName" placeholder="腐败活动~"></div>
				</div>
				<div class="control-group" style="height:410px">
					<label class="control-label" for="dp1">活动时间：</label>
					<div class="controls">
						<input type="text" id="dp1" name="dp1" placeholder="活动日期~">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="where">活动地点：</label>
					<div class="controls">
						<input type="text" name="where" id="where" placeholder="去哪儿？？？"></div>
				</div>
				<div class="control-group">
					<label class="control-label" for="content">活动描述：</label>
					<div class="controls">
						<textarea rows="5" name="content" id="content" placeholder="腐败活动都干些啥，和小伙伴们说说~"></textarea>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary" id="save">保存</button>
					<!--	<button type="submit" class="btn btn-primary">通过微博通知小伙伴们</button>
						<button type="submit" class="btn btn-primary">通过qq通知小伙伴们</button>-->
					</div>
				</div>
			</div>
			<div class="span2" style="margin-top:200px;">
				<ul id="dateList">
				</ol>
			</div>
			</div>
			</fieldset>
		</form>
		<hr />
		<footer>
			<p>
				<a href="http://www.byvoid.com/" target="_blank">约饭局</a>
			</p>
		</footer>
	</div>
</body>
	<script src="/javascripts/jquery-1.10.2.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	<script src="/javascripts/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
		var dateList = [];
    	$('#dp1').datepicker({
				format: 'yyyy-mm-dd',
				autoclose:false,
				todayHighlight:true

		});
		$('#dp1').trigger('focus');
		$('#dp1').change(function(){
			if($('#dp1').val()!=''){
				if($.inArray($('#dp1').val(), dateList)===-1){
					$('#dateList').append('<li>'+$('#dp1').val()+'<i class="icon-remove"></i></li>');
					dateList.push($('#dp1').val());
				}
			}

		});
		$('#dateList').delegate('i', 'click', function(event) {
			$(this).parent().remove();			
		});

    </script>

</html>