<!DOCTYPE html>
<html>
<head>
  <title>约饭局-搜索结果</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
  <script src="/javascripts/jquery-1.10.2.js"></script> 
  <script src="/javascripts/textSearch.js"></script> 
	<style>

      body {
          padding-top: 20px;
          font-size: 16px;
          font-family: "微软雅黑",serif;
      }
      h1 {
          font-family: "微软雅黑", Arial, sans-serif;
          font-weight: 400;
          font-size: 40px;
      }

      .margin-base-vertical {
          margin: 40px 0;
      }

  </style>

</head>
<body>
	<%- body %> 
</body>
</html>